build/
xcsp3parser/lib/
xcsp3parser/samples/
xcsp3parser/lib/libxcsp3parser_dynamic.so
xcsp3parser/lib/libxcsp3parser.a
xcsp3parser/samples/samplesXcsp3
xcsp3parser/lib/libxcsp3parser_dynamic.so
xcsp3parser/lib/libxcsp3parser.a
xcsp3parser/samples/samplesXcsp3
